/*  default
-----------------------------------*/
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    outline: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: 90%;
}
.sign-it{
    border: 1px solid #fff;
    padding: 15px 33px;
    display: block;
}

/*  color
-----------------------------------*/
:root{
    --light-blue: #4a7c90;
    --medium-blue: #1a475a;
    --heavy-blue: #113949;
    --yellow: #e8d26b;
}

/*  header
-----------------------------------*/
.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
    transition: all .5s;
}
.header.sticky{
    background-color: var(--heavy-blue);
    padding: 5px 0;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    display: block;
    width: 80px;
}
.call{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call p{
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 20px;
}
.call p i{
    margin-right: 5px;
}

/*  banner
-----------------------------------*/
.banner-area{
    position: relative;
    width: 100%;
    height: 110vh;
}
.banner-area img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro{
    position: absolute;
    width: 1170px;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.solution h1{
    font-size: 3em;
    font-weight: 300;
}
.yellow{
    color: var(--yellow);
}
.offer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offer-box span{
    display: block;
    text-transform: uppercase;
}
.speed{
    font-size: 2.2em;
}
.offer{
    width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.for, .only, .month{
    font-size: 0.625em;
}
.rs, .cent{
    font-size: 1.875em;
}
.real{
    font-size: 4.375em;
    margin: 0 5px;
}
.month{
    text-align: right;
}

/*  plans
-----------------------------------*/
.plans-area{
    background-color: var(--heavy-blue);
    padding: 100px 0;
}
.plans-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.plan-box{
    border: 1px solid #2f5b6d;
    border-radius: 6px;
    width: 330px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plan-box:last-child{
    border-color: var(--yellow);
}
.plan-box .offer{
    margin: 40px 0;
    text-align: left;
}
.plan-box span{
    display: block;
    text-transform: uppercase;
}
.plan-box .offer span{
    color: var(--yellow);
}
.mega h2{
    font-size: 4em;
    color: var(--yellow);
}
.megas{
    font-size: 1.625em;
    margin-bottom: 20px;
}
.description{
    font-size: 0.875em;
    color: var(--light-blue);
}

/*  netflix
-----------------------------------*/
.netflix-banner{
    background-image: url('../img/netflix.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.netflix-banner p{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 500px;
    line-height: 30px;
    font-weight: 700;
    line-height: 1.3;
}

/*  footer
-----------------------------------*/
.footer{
    background-color: var(--heavy-blue);
    padding: 60px 0;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work p{
    width: 346px;
    line-height: 30px;
    font-size: 0.875em;
    color: var(--light-blue);
}
.social-icons{
    display: flex;
    margin-top: 20px;
}
.social-icons li{
    font-size: 2.5em;
    margin-right: 20px;
    transition: all ease 0.3s;
}
.social-icons li:last-child{
    margin-right: 0;
}
.social-icons li:hover{
    opacity: 0.5;
}
.icon i{
    color: var(--light-blue);
}
.contact-us{
    width: 346px;
}
.contact-us h2, .contact-us li, .contact-us li i{
    color: var(--light-blue);
}
.contact{
    margin-top: 30px;
}
.contact li{
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2;
}

/*  medium device - desktop and tablet
-----------------------------------*/
@media only screen and (max-width: 960px) and (orientation: landscape){
    /*  banner-area
    -------------------------------*/
    .banner-area{
        height: 600px;
    }

    /*  modal
    -------------------------------*/
    .modal-content{
        height: 100vh;
    }
}
@media screen and (max-width: 960px){
    /*  header
    -------------------------------*/
    .solution{
        width: 100%;
        text-align: center;
        margin: 110px 0 40px;
    }
    .solution h1{
        font-size: 2.5em;
    }
    .offer-box{
        width: 100%;
    }

    /*  netflix
    -------------------------------*/
    .netflix-banner p{
        top: 10%;
        left: 5%;
    }
}

/*  medium device - tablet
-----------------------------------*/
@media screen and (max-width: 768px){
    /*  netflix
    -------------------------------*/
    .netflix-banner{
        background-position: right;
    }
    .netflix-banner:after{
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100vh;
    }
    .netflix-banner p{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }

    /*  footer
    -------------------------------*/
    .work{
        margin-bottom: 80px;
    }
}

/*  small device - mobile
-----------------------------------*/
@media screen and (max-width: 600px){
    /*  header
    -------------------------------*/
    .header{
        position: absolute;
    }
    .navbar{
        justify-content: center;
    }
    .call{
        display: none;
    }
}

/*  small device - mobile
-----------------------------------*/
@media screen and (max-width: 480px){
    /*  footer
    -------------------------------*/
    .work p{
        width: 270px;
    }
    .contact-us{
        width: 270px;
    }
}

/*  modal
-----------------------------------*/
.modal-container{
    display: none;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.modal-container.show{
    display: flex;
}
.show .modal-content{
    animation: modal .3s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.modal-content{
    background-color: var(--heavy-blue);
    width: 448px;
    border-radius: 10px;
    padding: 20px 30px;
}
.close-icon{
    text-align: right;
}
.close-icon i{
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}
.modal-content h2{
    color: var(--yellow);
    margin: 20px 0 30px;
    font-weight: 300;
}
.form-service{
    width: 100%;
}
.input-field{
    margin: 15px 5px;
}
.form-service label, .form-service input{
    color: #fff;
    display: block;
}
.form-service label{
    font-size: 0.875em;
    font-weight: 700;
    color: #fff;
}
.form-service input{
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid var(--light-blue);
    width: 100%;
    height: 38px;
    outline: none;
    background-color: transparent;
}
.form-service input::placeholder{
    color: var(--light-blue);
}
.input-field-group{
    display: flex;
}
.input-field-group .input-field{
    width: 50%;
}
.btn-send{
    color: #fff;
    background-color: var(--heavy-blue);
    border: 1px solid #fff;
    padding: 15px 33px;
    display: block;
    margin: 20px auto;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}